<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>616795058834-a20o584loge54o33b0un79t25nci6ujg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.616795058834-a20o584loge54o33b0un79t25nci6ujg</string>
	<key>API_KEY</key>
	<string>AIzaSyDwmUzzwMw4QFBww6bLikbinRObyJtyK7E</string>
	<key>GCM_SENDER_ID</key>
	<string>616795058834</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterProjet</string>
	<key>PROJECT_ID</key>
	<string>projetflutter-3b85f</string>
	<key>STORAGE_BUCKET</key>
	<string>projetflutter-3b85f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:616795058834:ios:6abc6971b973eee00e6c4b</string>
</dict>
</plist>